body {
   font-family: Helvetica, sans-serif;
}

header {
    
}

h1 {
    border: 1px solid black;
    font-size: 3em;
    color: black;
}

nav {
    
}

ul {
    list-style-type: none;
    border: 1px solid black;
    height: 38px;
    float:right;
    margin-top: -81px;
}

li {
    display:block;
    float:left;
    width: 120px;
    font-size: 2em;
    border: 1px solid black;
    margin-left: 40px;
    text-align: center;
    background-color: rgb(102,221,175);
    color: ivory;
}